@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.font-inter-heebo {
  font-family: "Inter", "Heebo", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
section {
  scroll-behavior: smooth;
  scroll-margin-top: 86px;
}

div {
  scroll-behavior: smooth;
  scroll-margin-top: 116px;
}

a {
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.group {
  transition: opacity 0.3s ease-in-out;
}
.group:hover .card:not(:hover) {
  opacity: 0.5;
}

.link:hover > span {
  transform: translateX(10px);
}
.scenario-up {
  transform: rotate(180deg);
}
.scenario-up > path {
  fill: #16a34a;
}

.p18 {
  font-size: clamp(1rem, 0.867rem + 0.426vw, 1.25rem);
}
.h2 {
  font-size: clamp(2.125rem, 1.639rem + 1.556vw, 3rem);
}
.h2_bold {
  font-size: clamp(2rem, 1.734rem + 0.851vw, 2.5rem);
}
.h2_medium {
  font-size: clamp(1.75rem, 1.484rem + 0.851vw, 2.15rem);
}
.h3_medium {
  font-size: clamp(1.375rem, 1.109rem + 0.851vw, 1.875rem);
}

@media (min-width: 768px) {
  .three_cards-width {
    width: calc((100% - 40px) / 3);
  }
}
